* {
  transition: all 0.3s ease;
}

.navbar {
  border-block-color: var(--pink);
}

.loading {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
