@media (max-width: 768px) {
  .navbar-brand h1 {
    font-size: 1.2rem;
  }

  .navbar-brand img {
    height: 30px !important;
  }
}

/* Tablet */
@media (max-width: 992px) {
  .container {
    padding: 0 15px;
  }
}
