<%- include('./parciales/header') %>

<h1><%= titulo %></h1>

<form method="post" action="/login">
    <input type="number" name="legajo" placeholder="Legajo">
    <input type="password" name="clave" placeholder="Clave">
    <button type="submit" >Ingresar</button>
</form>

<p><a href="/registro" >Crear cuenta</a></p>

<% if(error) { %>
    <p style="color: red;"><%= error %></p>

<% } %>

<%- include('./parciales/footer') %>